<ion-header>
  <ion-navbar>
    <img ion-right src="assets/imgs/7052-removebg-preview.png" class="navbarLogo" />
    <ion-title>Gallery</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
    
  <ion-card>
    <img src="assets/imgs/eng_pl_HK416-V2-Assault-Rifle-Replica-1152214513_3.jpg"/>
    <div class="card-title"><b>HK416</b></div>
    <div class="card-subtitle">The HK416 A5 is a further development of the HK416 assault rifle in 5.56 x 45 mm NATO calibre. The most striking changes compared to its previous versions as well as to market available AR platforms include an improved and tool-less gas regulator for suppressor use, a redesigned, user-friendly lower receiver, which allows complete ambidextrous operation of the weapon and ensures optimised magazine compatibility, as well as numerous technical improvements to maximize the operator safety, reliability, ammunition compatibility and durability under real operating conditions.</div>
  </ion-card>

  <ion-card>
    <img src="assets/imgs/71hmowaStxL._AC_SL1500_.jpg"/>
    <div class="card-title"><b>Kriss Vector</b></div>
    <div class="card-subtitle">The Kriss Vector[4] series are a family of weapons based upon the parent submachine gun design developed by the American company Kriss USA, formerly Transformational Defense Industries (TDI). They use an unconventional delayed blowback system combined with in-line design to reduce perceived recoil and muzzle climb.</div>
  </ion-card>

  <ion-card>
    <img src="assets/imgs/download (5).jpg"/>
    <div class="card-title">Nasi lemak</div>
    <div class="card-subtitle">RM7</div>
  </ion-card>
