<ion-header>
  <ion-navbar>
    <img ion-right src="assets/imgs/7052-removebg-preview.png" class="navbarLogo" />
    <ion-title>Contact</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Follow us on Twitter</ion-list-header>
    <ion-item>
      <ion-icon name="ionic" item-start></ion-icon>
      @ionicframework
    </ion-item>
  </ion-list>
</ion-content>
