<ion-header>
  <ion-navbar>
    <img ion-right src="assets/imgs/7052-removebg-preview.png" class="navbarLogo" />
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Welcome to FireWatch</h2>
  
  <button ion-button color="primary" (click)="logout()">Logout</button>
</ion-content>