<ion-content padding id="welcome">
  <img src="assets/imgs/7052-removebg-preview.png" class="logo"/>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1><i>FireWatch~</i></h1>
        <h4>Information about guns la adoi</h4>
      </ion-col>
    </ion-row>
  </ion-grid>

    <ion-list>
  
      <ion-item>
        <ion-label position="floating">Username :</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Password :</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
  
    </ion-list>
  
    
 
  <ion-grid >
    <ion-row>
      <ion-col center text-center>
        <button ion-button full color="success" (click)="signup()">Sign up</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col center text-center>
        <button ion-button full color="lightText" (click)="login()">Log in</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>